workflows/04-application-tracker.json
{
  "name": "04 - Application Tracker",
  "nodes": [
    {
      "id": "aa11bb22-cc33-dd44-ee55-ff6677889900",
      "name": "Update Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 200],
      "parameters": {
        "path": "update-application",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      }
    },
    {
      "id": "bb22cc33-dd44-ee55-ff66-778899001122",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 200],
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\n\nconst VALID_STATUSES = [\n  'Not Applied',\n  'Applied',\n  'HR Screening',\n  'Interview Round 1',\n  'Interview Round 2',\n  'Technical Round',\n  'Offer',\n  'Rejected',\n  'Withdrawn'\n];\n\nconst { job_id, status, notes, recruiter_name, recruiter_email } = body;\n\nif (!job_id) {\n  throw new Error('job_id is required');\n}\n\nif (!status) {\n  throw new Error('status is required');\n}\n\nif (!VALID_STATUSES.includes(status)) {\n  throw new Error(`Invalid status '${status}'. Must be one of: ${VALID_STATUSES.join(', ')}`);\n}\n\nreturn [{\n  json: {\n    job_id: String(job_id),\n    status,\n    notes: notes || null,\n    recruiter_name: recruiter_name || null,\n    recruiter_email: recruiter_email || null,\n    validated: true\n  }\n}];"
      }
    },
    {
      "id": "cc33dd44-ee55-ff66-7788-990011223344",
      "name": "Update Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [690, 200],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE applications_tracker SET status = $1, notes = COALESCE($2, notes), recruiter_name = COALESCE($3, recruiter_name), recruiter_email = COALESCE($4, recruiter_email), last_updated = NOW() WHERE job_id = $5 RETURNING *",
        "additionalFields": {
          "queryParams": "={{ JSON.stringify([$json.status, $json.notes, $json.recruiter_name, $json.recruiter_email, $json.job_id]) }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "postgres-main",
          "name": "Job Search DB"
        }
      }
    },
    {
      "id": "dd44ee55-ff66-7788-9900-112233445566",
      "name": "Applied Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [910, 200],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "applied-condition",
              "leftValue": "={{ $json.status }}",
              "rightValue": "Applied",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "ee55ff66-7788-9900-1122-334455667788",
      "name": "Set Applied Date",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1130, 100],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE applications_tracker SET applied_at = NOW() WHERE job_id = $1 RETURNING *",
        "additionalFields": {
          "queryParams": "={{ JSON.stringify([$json.job_id]) }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "postgres-main",
          "name": "Job Search DB"
        }
      }
    },
    {
      "id": "ff66778899-0011-2233-4455-667788990011",
      "name": "Final Status Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1350, 200],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "final-status-condition",
              "leftValue": "={{ $json.status }}",
              "rightValue": "Offer",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        }
      }
    },
    {
      "id": "77889900-1122-3344-5566-778899001122",
      "name": "Notify Outcome",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1570, 100],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "contentType": "json",
        "body": {
          "chat_id": "={{ $env.TELEGRAM_CHAT_ID }}",
          "text": "={{ $json.status === 'Offer' ? '🎉 OFFER RECEIVED!' : '❌ Application Rejected' }}\n\n💼 Job ID: {{ $json.job_id }}\n📊 Status: {{ $json.status }}\n{{ $json.notes ? '📝 Notes: ' + $json.notes : '' }}",
          "parse_mode": "HTML"
        }
      }
    },
    {
      "id": "88990011-2233-4455-6677-889900112233",
      "name": "Log Update",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1790, 200],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO system_log (workflow, action, data, status) VALUES ('application-tracker', 'status_updated', $1, 'success')",
        "additionalFields": {
          "queryParams": "={{ JSON.stringify([JSON.stringify({ job_id: $json.job_id, new_status: $json.status })]) }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "postgres-main",
          "name": "Job Search DB"
        }
      }
    },
    {
      "id": "99001122-3344-5566-7788-990011223344",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2010, 200],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, job_id: $json.job_id, status: $json.status, message: 'Application status updated successfully' }) }}"
      }
    },
    {
      "id": "aabb1122-3344-5566-7788-99aabb112233",
      "name": "Stale Check Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 500],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      }
    },
    {
      "id": "bbcc2233-4455-6677-8899-aabbcc223344",
      "name": "Find Stale Apps",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [470, 500],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT at.*, jp.company_name, jp.role_title, jp.apply_link FROM applications_tracker at JOIN job_postings jp ON jp.id = at.job_id WHERE at.status = 'Applied' AND at.last_updated < NOW() - INTERVAL '7 days' ORDER BY at.last_updated ASC"
      },
      "credentials": {
        "postgres": {
          "id": "postgres-main",
          "name": "Job Search DB"
        }
      }
    },
    {
      "id": "ccdd3344-5566-7788-99aa-bbccdd334455",
      "name": "Has Stale",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [690, 500],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-stale-condition",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "ddee4455-6677-8899-aabb-ccddeeff4455",
      "name": "Format Stale Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 500],
      "parameters": {
        "jsCode": "const staleApps = $input.all().map(item => item.json);\n\nconst appList = staleApps.map((app, i) => {\n  const daysSince = Math.floor((Date.now() - new Date(app.last_updated).getTime()) / (1000 * 60 * 60 * 24));\n  return `${i + 1}. ${app.company_name} — ${app.role_title}\\n   📅 Applied ${daysSince} days ago, no update`;\n}).join('\\n\\n');\n\nconst message = `⚠️ STALE APPLICATIONS (${staleApps.length} apps, 7+ days no update)\\n\\n${appList}\\n\\n💡 Consider following up or marking as withdrawn.`;\n\nreturn [{ json: { message, count: staleApps.length } }];"
      }
    },
    {
      "id": "eeff5566-7788-99aa-bbcc-ddeeff556677",
      "name": "Alert Stale",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 500],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "contentType": "json",
        "body": {
          "chat_id": "={{ $env.TELEGRAM_CHAT_ID }}",
          "text": "={{ $json.message }}",
          "parse_mode": "HTML"
        }
      }
    }
  ],
  "connections": {
    "Update Webhook": {
      "main": [[{ "node": "Validate Input", "type": "main", "index": 0 }]]
    },
    "Validate Input": {
      "main": [[{ "node": "Update Status", "type": "main", "index": 0 }]]
    },
    "Update Status": {
      "main": [[{ "node": "Applied Check", "type": "main", "index": 0 }]]
    },
    "Applied Check": {
      "main": [
        [{ "node": "Set Applied Date", "type": "main", "index": 0 }],
        [{ "node": "Final Status Check", "type": "main", "index": 0 }]
      ]
    },
    "Set Applied Date": {
      "main": [[{ "node": "Final Status Check", "type": "main", "index": 0 }]]
    },
    "Final Status Check": {
      "main": [
        [{ "node": "Notify Outcome", "type": "main", "index": 0 }],
        [{ "node": "Log Update", "type": "main", "index": 0 }]
      ]
    },
    "Notify Outcome": {
      "main": [[{ "node": "Log Update", "type": "main", "index": 0 }]]
    },
    "Log Update": {
      "main": [[{ "node": "Respond Success", "type": "main", "index": 0 }]]
    },
    "Stale Check Trigger": {
      "main": [[{ "node": "Find Stale Apps", "type": "main", "index": 0 }]]
    },
    "Find Stale Apps": {
      "main": [[{ "node": "Has Stale", "type": "main", "index": 0 }]]
    },
    "Has Stale": {
      "main": [
        [{ "node": "Format Stale Message", "type": "main", "index": 0 }],
        []
      ]
    },
    "Format Stale Message": {
      "main": [[{ "node": "Alert Stale", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "workflow-04-application-tracker",
  "tags": []
}
